<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/travel1.jpg" alt="First slide">
      <div class="carousel-caption">
          <h3>Travel</h3>
          <p>To travel is to find oneself.</p>
        </div>  
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/travel2.jpg" alt="Second slide">
      <div class="carousel-caption">
          <h3>Wander</h3>
          <p>Not all who wander are lost.</p>
        </div>  
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/travel3.jpg" alt="Third slide">
      <div class="carousel-caption">
          <h3>Explore</h3>
          <p>To me travel happened to be the best thing.</p>
        </div>  
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>