<div class="container">
  <h2>Enter your query</h2>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required minlength="8" required>
    </div>
    <div class="form-group">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Avatar</label>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">Goat</option>
        <option value="2">Deer</option>
        <option value="3">Peacock</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dest">Destination</label>
      <textarea type="text" class="form-control" id="dest" placeholder="Enter your destination" name="dest" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="formData()">Submit</button>
  </form>
</div>