<!--The content below is only a placeholder and can be replaced.-->
  <app-navigation></app-navigation>
  <app-carousel></app-carousel>
  <div class="container mt-5 mb-2">
    <div class="row">
      <div class="col-sm-6">
        <app-media-content></app-media-content>
      </div>
      <div class="col-sm-6">
        <app-form></app-form>
      </div>
  </div>
